{% extends 'base.html' %}



{% block content %}
<main>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="card-header">
                            <h3 class="card-title">Add Course</h3>
                        </div>
                        <!--Card header for form -->
                        <form role="form"  method="post" action="{% url 'course' %}">
                            {%  csrf_token%}
                            {% for f in form%}
                            <div class="card-group">
                                <label class="input-group-text">{{f.label}}</label>
                                {{f}}
                                <input class="btn btn-primary" type="submit" value="Enter Course" />
                            </div>
                            {% endfor %}
                            
                        </form>

                    </div>
                </div>
                
            </div>
        </div>
    </section>
</main>

{% endblock content %}