{% extends 'base.html' %}

{% load static %}

                  <div class="form-outline">  
                    {{field}}
                    <label class="form-label" for="form3Example1">{{field.label}}</label>
                  </div>
                

{% block  content %}
<section class="container-fluid align-items-center" style=" background-color: #e5edef;">
    <div class="container py-5">
    <div class="row">
  <!--- Breadcrumb start here --->
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'account' %}">Profile</a></li>
            <li class="breadcrumb-item"><a href="{% url 'staff' user.id %}">User profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">User account</li>
          </ol>
        </nav>
      </div>
    </div>
<!----Start of profile card-->
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{user.profile_image.url}}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{user.name}}</h5>
            <p class="text-muted mb-1">{{user.staff_info}}</p>
            <p class="text-muted mb-4">{{user.address}}</p>
            <div class="d-flex justify-content-center mb-2">
              <a href="{% url 'user' %}" type="button" class="btn btn-primary">view changes</a>
              <button type="button" class="btn btn-outline-primary ms-1">Message</button>
            </div>
          </div>
        </div>
        <!-- -->
      </div>
  <!--Start of profile details-->    
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
             {% for e in edit2%}
            <div class="row">
               
              <div class="col-sm-3">
                <p class="mb-0">{{e.label}}</p>
                {{e}}
              </div>
              
              <!----
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{edit2.name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{edit.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{edit.phone}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{edit2.mobile}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{edit.address}}</p>
              </div>
            </div>
            --->
          </div>
          {% endfor %}
        </div>
  <!-- Start of profile About details -->
  <!---     
        <div class="card mb-4">
          <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                <p class=" mb-0">About</p>
                </div>
                <hr>
                <div class=" col-md-12 border-dark text-secondary">
                  <p class=" text-muted mb-0">
                    {{edit.bio_info}}
                  </p>
                </div>
              </div>
              </div>
        </div>
    ----> 
      </div>
    </div>
    </div>
</section>
{% endblock content %}