{% extends 'base.html' %}




{% block content %}

<section class="container-fluid align-items-center" style=" background-color: #e5edef;">
  <div class="container py-5">
    <div class="row">
  <!--- Breadcrumb start here --->
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'account' %}">Profile</a></li>
            <li class="breadcrumb-item"><a href="{% url 'staff' user.id %}">User profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">User account</li>
          </ol>
        </nav>
      </div>
    </div>
<!----Start of profile card-->
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{user.profile_image.url}}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <div class="row align-content-center" >
              <div class="col-sm-2">
                <p></p>
              </div>
            <div class=" col-lg-4 ">                  
              <h5 class="my-3 text-md-end" >{{user.first_name}}</h5>                  
            </div>
            <div class=" col-lg-4 ">                  
              <h5 class="my-3 text-md-start">{{user.last_name}}</h5>                  
            </div> 
            </div>
            <p class="text-muted mb-1">{{user.staff_info}}</p>
            <p class="text-muted mb-4">{{user.address}}</p>
            <div class="d-flex justify-content-center mb-2">
              <a href="{% url 'edit' %}" type="button" class="btn btn-primary">edit</a>             
            </div>
            <div class="d-flex justify-content-center mb-2">
              <a href="{% url 'inbox' %}" type="button" class="btn btn-outline-primary">Check Inbox</a>
             <a href="{% url 'compose-message' user.id %}" class="btn btn-outline-primary ms-1">Send Message</a>
            </div>
          </div>
        </div>
        <!-- -->
      </div>
  <!--Start of profile details-->    
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-2">
                <p class="mb-0">Surname :</p>
              </div>
              <div class="col-sm-3 ">
                <p class="text-muted mb-0 text-center">{{user.last_name}}</p>
              </div>
              <div class="col-sm-2">
                <p class="mb-0">First Name :</p>
              </div>
              <div class="col-sm-3 ">
                <p class="text-muted mb-0 text-center">{{user.first_name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.phone}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.mobile}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user.address}}</p>
              </div>
            </div>
          </div>
        </div>
  <!-- Start of profile About details -->     
        <div class="card mb-4">
          <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                <p class=" mb-0">About</p>
                </div>
                <hr>
                <div class=" col-md-12 border-dark text-secondary">
                  <p class=" text-muted mb-0">
                    {{user.bio_info}}
                  </p>
                </div>
              </div>
              </div>
        </div>
      </div>
    </div>
<!----Start of student profile card-->
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{user2.profile_image.url}}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <div class="row align-content-center" >
              <div class="col-sm-2">
                <p></p>
              </div>
            <div class=" col-lg-4 ">                  
              <h5 class="my-3 text-md-end" >{{user2.first_name}}</h5>                  
            </div>
            <div class=" col-lg-4 ">                  
              <h5 class="my-3 text-md-start">{{user2.last_name}}</h5>                  
            </div> 
            </div>
            <p class="text-muted mb-1">{{user2.nationality}}</p>
            <p class="text-muted mb-4">{{user.address}}</p>
            <div class="d-flex justify-content-center mb-2">
              <a href="{% url 'edit' %}" type="button" class="btn btn-primary">edit</a>             
            </div>
            <div class="d-flex justify-content-center mb-2">
              <a href="{% url 'inbox' %}" type="button" class="btn btn-outline-primary">Check Inbox</a>
             <a href="{% url 'compose-message' user.id %}" class="btn btn-outline-primary ms-1">Send Message</a>
            </div>
          </div>
        </div>
        <!-- end of student card -->
      </div>
  <!--Start of student profile details-->    
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-2">
                <p class="mb-0">Surname :</p>
              </div>
              <div class="col-sm-3 ">
                <p class="text-muted mb-0 text-center">{{user2.last_name}}</p>
              </div>
              <div class="col-sm-2">
                <p class="mb-0">First Name :</p>
              </div>
              <div class="col-sm-3 ">
                <p class="text-muted mb-0 text-center">{{user2.first_name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user2.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user2.phone}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user2.mobile}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user2.address}}</p>
              </div>
            </div>
          </div>
        </div>
  <!-- Start of student profile About details -->     
        <div class="card mb-4">
          <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                <p class=" mb-0">About</p>
                </div>
                <hr>
                <div class=" col-md-12 border-dark text-secondary">
                  <p class=" text-muted mb-0">
                    {{user.bio_info}}
                  </p>
                </div>
              </div>
              </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

{% endblock content %}