{%extends 'base.html' %}
{% load static %}






{% block content %}
        
<section class="container-fluid align-items-center " style="background-color: #e5edef;">
  <div class="container py-5">
    <!--- Breadcrumb start here --->
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'account' %}">Profile</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>
    <!---User Profile start here--->
    <div class=" row justify-content-center"">
      <div class="col-lg-9 ">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{user.profile_image.url}}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <a href="{% url 'user' %} ">
              <div class="row align-content-center" >
                <div class="col-sm-2">
                 <p></p>
                </div>
                <div class=" col-lg-4 ">                  
                  <h3 class="my-3 text-md-end" >{{user.first_name}}</h3>                  
                </div>
                <div class=" col-lg-4 ">                  
                  <h3 class="my-3 text-md-start">{{user.last_name}}</h3>                  
                </div> 
              </div>
            </a>
            <p class="text-muted mb-1">{{user.staff_info}}</p>
            <p class="text-muted mb-4">{{user.address}}</p>
            <div class="d-flex justify-content-center mb-2">
              <a href="{% url 'admin-message' %}" type="button" class="btn btn-primary">Inbox</a>
            <a href="{% url 'admin-send' user.id %}" class="btn btn-outline-primary ms-1">Send Message</a>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</section>
 
{% endblock content %}